.sign-form {
  width: 40%;
  margin: 0 auto;
  .form-error {
    padding: 10px;
    margin-top: 20px;
    color: white;
    background: $error;
    font-family: "Raleway", sans-serif;
  }
  .check-order-link {
    width: 100%;
    span {
      color: #5ec0ea;
      &:hover {
        text-decoration: underline;
        color: #84cff0;
        cursor: pointer;
      }
    }
  }
}

.user-form {
  padding: 30px;
  margin: 40px 0;
  background: white;
  font-family: "Roboto", sans-serif;
  border: 1px solid #333;
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    i {
      margin-left: 5px;
    }
  }
  .input-group {
    margin-bottom: 10px;
    position: relative;
    input {
      display: inline-block;
      padding: 5px;
      padding-left: 40px;
      outline: none;
      height: 40px;
      width: 100%;
      font-size: 1.01rem;
      border-radius: 25px;
      border: 1px solid #ccc;
      color: #222;
    }
    span {
      position: absolute;
      color: #777;
    }
    .input-icon {
      top: 10px;
      left: 17px;
    }
    .email-icon {
      top: 11px;
      left: 17px;
    }
  }
  .has-error {
    input {
      border-color: $error;
      &::placeholder {
        color: $error;
      }
    }
    span {
      color: $error;
    }
  }
  .form-link {
    margin-bottom: 30px;
    padding-left: 20px;
    a {
      color: rgb(118, 209, 231);
      text-decoration: none;
      font-size: 0.9rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px 35px;
    background: #ccc;
    color: #333;
    font-size: 1.05rem;
    border-radius: 25px;
    font-weight: bold;
    &:hover {
      background: #ddd;
    }
  }
}

@media (max-width: 950px) {
  .sign-form {
    .form-error {
      font-size: 0.95rem;
    }
    .user-form {
      h1 {
        font-size: 1.4rem;
      }
      .input-group {
        input {
          font-size: 0.98rem;
        }
      }
      .form-link a {
        font-size: 0.85rem;
      }
      button {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .sign-form {
    .user-form {
      h1 {
        font-size: 1.2rem;
      }
      .input-group {
        input {
          font-size: 0.9rem;
        }
        span {
          font-size: 0.9rem;
        }
        .input-icon {
          top: 11px;
        }
        .email-icon {
          top: 12px;
        }
      }
      .form-link a {
        font-size: 0.75rem;
      }
      button {
        font-size: 0.9rem;
      }
    }
  }
  .check-order-link {
    span {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: 725px) {
  .sign-form {
    width: 60%;
    .user-form {
      h1 {
        font-size: 1rem;
      }
      .input-group {
        input {
          font-size: 0.8rem;
        }
        span {
          font-size: 0.8rem;
        }
        .input-icon {
          top: 12px;
        }
        .email-icon {
          top: 13px;
        }
      }
      button {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .sign-form {
    .form-error {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: 500px) {
  .sign-form {
    width: 80%;
    .check-order-link {
      span {
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 440px) {
  .sign-form {
    .sign-in-form {
    }
  }
}

@media (max-width: 400px) {
  .sign-form {
    .form-error {
      font-size: 0.75rem;
    }
    .user-form {
      h1 {
        font-size: 0.9rem;
      }
      .input-group {
        input {
          font-size: 0.7rem;
        }
        span {
          font-size: 0.7rem;
        }
        .input-icon {
          top: 13px;
        }
        .email-icon {
          top: 14px;
        }
      }
      button {
        font-size: 0.7rem;
      }
    }
  }
  .sign-up-form .user-form {
    margin-bottom: 45px;
  }
}
