// Fonts
@import "./fonts";
// ---------------------------------------------------------------
@import "./variables";
@import "./mixins";
// General Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
}

body {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  overflow-x: hidden !important;
}

.app {
  width: 100%;
  max-width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  .products-title {
    margin-bottom: 30px;
    h1 {
      text-align: left;
      color: #333;
      font-weight: normal;
      margin-bottom: 10px;
      font-family: "Merriweather", sans-serif;
      font-size: 1.9rem;
      i {
        margin-left: 5px;
      }
    }
    p {
      color: #444;
      font-size: 0.95rem;
    }
  }
}

.layout {
  width: 100%;
  padding-top: 90px;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
}

.add-to-cart-btn {
  color: white !important;
  text-decoration: none !important;
}

.btn-center {
  @include flexCenterRow();
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-bottom: 60px;
}

.loading-order,
.loading-products,
.loading-cart {
  background: white;
  color: #333;
  padding: 10px;
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
}

@import "./core/notFound";
@import "./core/navbar";
@import "./core/home";
@import "./core/card";
@import "./core/footer";
@import "./animations";
@import "./core/signForm";
@import "./core/shop";
@import "./core/cart/cart";
@import "./core/contact/contact";
@import "./core/singleProduct/singleProduct";
@import "./core/checkout/checkout";
@import "./core/user/user";
@import "./core/user/myOrders/myOrders";
.wait-message {
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  p {
    font-size: 1.3rem !important;
    color: #222;
  }
}

@media (max-width: 750px) {
  .wait-message {
    p {
      font-size: 1.1rem !important;
    }
  }
}

@media (max-width: 550px) {
  .wait-message {
    p {
      font-size: 0.9rem !important;
    }
  }
}

// Admin styles
@import "./admin/adminLogin";
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
  @import "./admin/adminNavbar";
  @import "./admin/dashboardContainer";
}
