.steps {
  padding: 30px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  .step {
    padding: 5px;
    p {
      text-align: center;
      font-size: 1.1rem;
      @include flexCenterRow();
      &:first-child {
        margin-bottom: 5px;
      }
      i {
        margin-left: 7px;
        font-size: 1.4rem;
        &.finished {
          color: #50c75c;
        }
        &.unfinished {
          color: #db3e28;
        }
      }
    }
  }
}
