.success-message {
  margin-top: 20px;
  p {
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
  }
  button {
    background: #ddd;
    border: none;
    outline: none;
    padding: 8px 25px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    &:hover {
      background: #ccc;
    }
    a {
      text-decoration: none;
      color: #111;
      font-size: 0.9rem;
    }
  }
}
