.cart-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  margin-left: 30px;
  padding: 15px;
  .cart-right-heading {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $cart-main-black;
    h4 {
      text-align: left;
      font-weight: normal;
      color: $cart-main-black;
      font-size: 1.3rem;
    }
    margin-bottom: 25px;
  }
  .total-cart-items {
    @include flexCenterColumn();
    width: 100%;
    .item {
      padding-bottom: 10px;
      height: 80px;
      margin-bottom: 10px;
      @include flexCenterRow();
      width: 100%;
      border-bottom: 1px solid $cart-main-black;
      &:last-child {
        margin-bottom: 0;
      }
      .item-details {
        height: 100%;
        @include flexCenterRow();
        justify-content: flex-start;
        width: 80%;
        div:first-child {
          height: 100%;
          margin-right: 10px;
          img {
            max-height: 100%;
          }
        }
        div:last-child {
          @include flexCenterColumn();
          align-items: flex-start;
          span:first-child {
            font-size: 1.05rem;
            font-weight: bold;
            color: $cart-main-black;
            margin-bottom: 3px;
          }
          span:last-child {
            font-size: 0.85rem;
            color: $cart-item-category-color;
          }
        }
      }
      .item-price {
        width: 20%;
        height: 100%;
        @include flexCenterRow();
        justify-content: flex-end;
        span {
          font-size: 1.15rem;
          color: $cart-main-black;
        }
      }
    }
  }
  .cart-right-bottom {
    margin-top: 10px;
    width: 100%;
    @include flexCenterColumn();
    .total {
      width: 100%;
      span {
        display: inline-block;
        width: 50%;
        font-size: 1.1rem;
        // font-weight: bold;
        color: $cart-main-black;
      }
      span:first-child {
        text-align: left;
      }
      span:last-child {
        text-align: right;
      }
    }
    .checkout-btn {
      margin-top: 20px;
      width: 100%;
      button {
        width: 100%;
        background: #ddd;
        padding: 5px 0;
        font-size: 1.1rem;
        color: #111;
        &:hover {
          background: #ccc;
        }
      }
    }
  }
}
